.news-cards-list {
  display: flex;
  justify-content: center;
}

.news-cards-list-item {
  width: 24rem;
  margin: 20px;
}

.news-cards-list-image-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.news-cards-list-image {
  max-width: 90%;
  height: min-content;
}

.news-cards-list-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: available;
}

.news-cards-list-title {
  height: fit-content;
  display: flex;
  align-items: flex-start;
  text-align: center;
  overflow: hidden;
}

.news-cards-list-text {
  height: 145px;
  display: flex;
  align-items: center;
  text-align: justify;
}

.news-cards-list-button-link {
  align-self: flex-end;
}

@media (max-width: 499.98px) {
  .news-cards-list-image {
    max-height: min-content;
  }

  .news-cards-list-title {
    font-size: 14px;
    height: 90px;
  }

  .news-cards-list-text {
    font-size: 14px;
  }
}

@media (max-width: 399.98px) {
  .news-cards-list-title {
    font-size: 12px;
    height: 80px;
  }

  .news-cards-list-text {
    font-size: 12px;
    height: 110px;
  }
}