.fashion-list-item-wrapper {
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fashion-list-item-price {
  text-decoration: line-through;
  margin-top: 2px;
}

.fashion-list-item-discount {
  border-radius: 45%;
  padding: 3px 6px 0;
  margin-left: 20px;
  color: white;
  background-color: red;
  text-decoration: none;
  font-size: 11px;
}

.fashion-list-item-button {
  margin: 20px;
  width: 225px;
  filter: brightness(.75);
}

.fashion-list-item-button:hover {
  filter: brightness(1);
}